@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  font-family: 'Roboto';
  font-weight: 500;
  z-index: 2;
}

.modal.show{
  opacity: 1;
  pointer-events: visible;
}

.modal-content{
  width: 350px;
  padding: 15px;
  border-radius: 10px;
  background-color: #202020;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
}

.modal.show .modal-content{
  transform: translateY(0);
}

.modal-header, .modal-footer{
  padding: 10px;
}

.modal-title{
  text-align: center;
  margin: 10px auto;
  font-size: 26px;
  color: #fff;
}

.modal-body-login{
  padding: 0;
  margin: 0 auto;
}

.modal-footer{
  display: flex;
  justify-content: center;
}

.button {
  margin: 0 auto;
  width: 100px;
  height: 30px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 5px;
}

.button:hover{
  background-color: #40876D;
}

/* FORM LOGIN DO MODAL */
.form-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin:0 auto;
}

.form-login label, input, p{
  display: block;
  margin: 15px 0;
  border: 0;
  color: #adadad;
}

.form-login input{
  color: #fff;
  background-color: #202020;
  width: 300px;
  border-bottom: 2px solid #adadad;
  margin: 0 auto;
}

.form-login p{
  margin: 10px auto;
  padding: 5px;
}

.form-login a{
  text-decoration: none;
  color: #40876D;
  font-weight: 500;
}