.container-equipe{
  width: 100%;
  height: 100vh;
  background-color: #202020;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-equipe h1{
  margin-bottom: 25px;
  font-size: 40px;
}

.img-barra{
  width: 930px;
}

.equipe{
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 50px auto;
}

.equipe h4{
  font-weight: 500;
  font-size: 24px;
}

.equipe p{
  font-weight: 300;
  font-size: 18px;
}

.nome-esq{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.nome-dir{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.dev{
  margin: 50px auto;
}

.dev-dir{
  margin: 120px auto 0 auto;
}

.lista-completa{
  display: none;
}

@media (max-width: 550px)
{
  .container-equipe{
    height: 100%;
  }

  .container-equipe h1{
    font-size: 1.2em;
    margin-top: 25%;
    margin-bottom:0;
  }

  .barra-equipe img{
    width: 100%;
    text-align: center;

  }

  .equipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

  }

  .equipe h4{
    font-size: 50%;
  }

  .nome-dir{
    display: none;
  }

  .nome-esq{
    display: none;
  }

  .lista-completa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}


@media (min-width: 551px ) and (max-width: 930px){


  .container-equipe h1{
    margin: 15% auto 0;
    font-size: 36px;
  }

  .img-barra{
    width: 550px;
  }

  .equipe{
    padding: 10px
  }

}
