.container-home{
  width: 100%;
  height: 2362px;
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
}

/* DIV IMG E MENSAGEM DE IMPACTO */
.cabecalho{
  width: 100%;
  height: 600px;
  display: flex;
  border-bottom: 3px solid #fff;
}

.cabecalho img{
  width: 100%;
  max-height: auto;
  object-fit: cover;
  opacity: .75;
}

.cabecalho-texto{
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  text-align: center;
  text-shadow: 3px 3px 2px #000;
}

.cabecalho-texto h1{
  font-size: 64px;
  font-weight: 700;
  margin: 20px 0;
}

.cabecalho-texto h3{
  font-size: 32px;
  font-weight: 500;
}

/* DIV CARD RESERVAS DE PRODUTOS */

.cards-reserva{
  width: 100%;
  height: 898px;
  background-color: #202020;
  display: flex;
  justify-content: space-evenly;
}

.card-01, .card-02{
  width: 450px;
  height: 580px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 150px 0 0 0;
  border-radius: 15px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.8);
}

.texto-card{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #202020;
}

.barra{
  width: 360px;
  border-bottom: 3px solid #b2b2b2;
  margin: 40px auto;
}

.btn-reserva{
  width: 200px;
  height: 50px;
  border: none;
  background-color: #202020;
  border-radius: 8px;
  margin: 50px auto 0 auto;
}

.btn-reserva a{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-decoration: none;
}

.btn-reserva:hover{
  background-color: #40876d;
}

/* DIV INFOS E FORM CONTATO */

.contato{
  width: 100%;
  height: 869px;
  background-color: #202020;
  display: flex;
}

.info-fooddev{
  width: 50%;
  height: 100%;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.info-fooddev h1{
  font-size:60px;
  text-align: center;
}

.info-fooddev h1, p{
  margin: 10px auto;
}

/* Formulário */
.form-contato{
  width: 50%;
  height: 100%;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.form-contato input{
  width: 500px;
  border-bottom: 1px solid #fff;
  margin: 10px auto;
  outline: none;
  background-color: #202020;
}

.form-contato textarea{
  margin-top: 15px;
  color: #fff;
  background-color: #202020;
  border-radius: 5px;
}

.form-contato hr{
  border: none;
}

#form-botao{
  width: 400px;
  height: 50px;
  background-color: #000;
  border: none;
  border-radius: 6px;
  color: #fff;
  margin: 20px auto;
}

#form-botao:hover{
  background-color: #40876d;
}