/*== Layout ==*/
.Navbar {
  background-color: #000;
  width: 100%;
  height: 60px;
  font-family: 'Roboto';
  font-weight: 500;
  display: flex;
  margin: 0;
  padding: 0;
}

.Navbar .leftSide{
  flex: 30%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.Navbar .leftSide .links{
  max-height: 60px;
}

.Navbar .leftSide .links a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin-left: 15px;
}

.Navbar .leftSide button{
  display: none;
  padding: 5px;
  margin-left: 15px;
}

.Navbar .rightSide #btn-responsivo{
  display: none;
}

.Navbar .rightSide{
  flex: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Navbar .rightSide .links a{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding: 15px;
}


.Navbar .rightSide #hidden{
  display: flex;
}

/*=======Botão Login=======*/
.ModalHeader{
    padding: 15px;
    cursor: pointer;
    border-radius: .5rem;
    border: none;
}

.botao-login{
  background-color: #202020;
  border: none;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px 10px;
}

.botao-login:hover{
  background-color: #40876da4;
}

/*========= MEDIA QUERIES =========*/
@media only screen and (max-width: 820px) {
  .Navbar .rightSide .links a{
    font-size: 14px;
    padding: 10px;
  }
  .Navbar .leftSide .links a{
    font-size: 16px;
  }
}

@media only screen and (max-width: 751px) {
  .Navbar .rightSide{
    width: 80%;
  }
  .Navbar .rightSide .links a{
    font-size: 12px;
    padding: 5px;
  }
  .Navbar .leftSide{
    width: 20%;
  }
}

@media only screen and (max-width: 620px) {
  .Navbar .rightSide #btn-responsivo{
    display: flex;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    border: none;
    border-radius: 5px;
    color: #fff;
  }

  .Navbar .rightSide .links{
    display: none;
  }

  .Navbar .rightSide #hidden{
    position: absolute;
    right: 0px;
    top: 60px;
    height: 220px;
    width: 45%;
    background-color: #202020;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    float: right;
    padding: 15px;
    box-shadow: -4px 4px 5px rgba(0,0,0,0.8);
  }
  .Navbar .rightSide #hidden a{
    font-size: 16px;
    font-weight: 500;
  }

}