/*== Layout ==*/
.Navbar {
  background-color: #000;
  width: 100%;
  height: 60px;
  font-family: 'Roboto';
  font-weight: 500;
  display: flex;
  margin: 0;
  padding: 0;
}

.Navbar .leftSide{
  flex: 30%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.Navbar .leftSide .links{
  max-height: 60px;
}

.Navbar .leftSide .links a{
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
}

.Navbar .leftSide button{
  display: none;
  padding: 5px;
  margin-left: 15px;
}

.Navbar .leftSide #hidden{
  display: flex;
}

.Navbar .rightSide{
  flex: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Navbar .rightSide .links a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 15px;
}

/*=======Botão Login=======*/
.ModalHeader{
    padding: 15px;
    cursor: pointer;
    border-radius: .5rem;
    border: none;
}

.botao-login{
  background-color: #202020;
  border: none;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 10px;
}

.botao-login:hover{
  background-color: #40876da4;
}

/*========= MEDIA QUERIES =========*/
@media only screen and (max-width: 820px) {
  .Navbar .leftSide .links a{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 702px) {
  .Navbar .leftSide .links a{
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 630px){
  .Navbar .leftSide button{
    display: flex;
  }

  .Navbar .leftSide .links{
    display: none;
  }

  .Navbar .leftSide #hidden{
    position: absolute;
    left: 0;
    top: 60px;
    height: 250px;
    max-height: 250px;
    width: 30%;
    border-bottom-right-radius: 15px;
    background-color: #245E6E;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    z-index: 150;
  }

  .Navbar .leftSide #hidden:hover{
    opacity: 1;
  }

  .Navbar .leftSide #hidden a{
    padding: 10px;
    font-size: 1.25rem;
  }
}