  footer {
    background-color: black;
    width: 100%;
    height: 50px;
    position: relative;
    bottom: 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 3px solid #fff;
    font-family: 'Roboto';
    font-weight: 500;
  }

  .footerD{
    padding: 10px;
  }

  .footerE{
    display: flex;
    color: white;
    align-items: center;
    margin-right: 15px;
  }

  .footerD a{
    margin-right: 1rem;
  }


  @media (max-width: 550px){
    footer{
      height: 50px;
      padding: 0;
      bottom: 0;
      width: 100vw;
      position: relative;
    }

    .logofooter{
      margin-left: 15px;
    }

    .footerD{
      padding: 0;
      display: flex;
      align-content: center;
    }
  }

  @media (min-width: 551px) and (max-width: 1024px){
    footer{
      height: 50px;
      padding: 0;
      bottom: 0;
      width: 100vw;
      position: relative;
    }

    .logofooter{
      margin-left: 20px;
    }
    .footerD{
      padding: 0;
      display: flex;
      align-content: center;
    }
  }

